
/* external css/external styling

specifity selectors
	-id
	-class
	-combinators 
relative lengths - are lengths that change relative to something: ;
	-% unit for percentage
	-em relative to the current font size
	-rem relative to the current font size on the html elements
	-vw relative to the width of the viewport divided 100
	-vh relative to the height of the viewport divided 100
absolute lengths
	-are lengths that do not change
		-px unit of pixels
		-in unit of inches
		-pt unit of points
*/
/*Universal select*/

*{
	/*all elements will have a font style of courier new and the default will be about 20px
	monospace is the fallback font. In the event the machine used to view your docuemnts does not have the declared font, we will fallback to similar
	font family; changes the font style of text;
	font-size - 
	*/
	font-family: "Courier New", monospace;
	font-size: 20px;
	/*CSS Reset*/
	margin: 0;
	padding: 0;
}
/*selectors*/
body{
	background-color: salmon;

}
html{
	scroll-behavior: smooth;
}
nav{
	background-color: white;
}
h1 {
	color: black: !important;
	text-align: center;
	font-size: 2rem;
}
section{
	height: 100vh;

	/*vh means viewport height meaning this measurement takes the percentage of the overall*/
	text-align: center;
	/*it allows*/
}
h2{
	font-size: 1.5rem;
}
ol{
	list-style: ;
}
/*id it is given more priority than other selection*/
#zuitt-motto{
	letter-spacing: 5px;
}
/*class selector for elements of the class*/
.offering-item{
	text-transform: uppercase;
}
/*attribute selector -  allows us to select a particular elements with the same attribute
	tagname[attribute]
	border-width:  allows us to determine the thickness of an elements border;
	border-style: allows to determine the style of the border;
	border-color: allows us to determine the color of an elements border;
*/
input[required]{
	border-width: 2px;
	border-style: solid;
	border-color: brown;
	width: 90%;
	/*we define the width of our input to be at least 90% of the width of its parent element*/
}
/*COMBINATORS*/
/*Adjacent sibling Selector - allows to select a particular element that immediately follow a sibling element
selector + selector
	height and width properties will resize our element 
	border radius rounds out
*/
#zuitt-motto + img {
	height: 300px;
	width: 300px;
	border-radius: 150px;
}
/*Descendant selector - allows us to select elements that are the descendants of the first selector (ancestor)
ancestor descendant
	color property and other similar properties can also accept hex values. hexadecimal values consist of a sign and the combination of 6 alphanumeric properties
*/
#bootcamp-learning-list li{
	color: #075966;
}
/*General Sibling Selector allows us to select siblings that are after our previous sibling (first selector)
	sibling~selected sibling
*/
/*h2 ~ a {*/
	/*text-decoration: none;*/
}
a{
	text-decoration: none;
}
/*register section*/
form{
	text-align: center;
	background-color: white;
	border: 2px solid black;
	height: 185px;
	width: 25vw;
	/*position property changes the position of an element based on  a certain criteria
	position: relative - allows to move the position property to add a certain measurement to the left of the element.;
	the value % is based on the measurement of the parent element
	the parent element being the sectoin tag which is a block element and occupies the full width of the page 
	*/
	position: relative;
	left: 37.25%;

}
/*child selector allows to select a particular child of parent element.
parent > child
*/

section > form >label {
	color: rgb(0,0,128);
}
/*
mini activity
*/
button {
	
	background-color: #cf0053;
	color: white;
	border: 0;
	border-radius: 15px;
	padding: 3px;
	margin-top: 3px;
	
}
