*{
	font-family: "Verdana";, sans serif;
	font-size: 20px;
	/*CSS Reset*/
	margin: 0;
	padding: 0;
}
body{
	background-color: lightcyan;

}
html{
	scroll-behavior: smooth;
}
nav{
	background-color: white;
}
section{
	height: 50vh;

}

h1 {
	color: hotpink; !important;
	text-align: center;
	font-size: 3rem;
}
h2{
	text-transform: uppercase;
}
.activities{
	text-align: center;
	background-color: lightcyan;
	border-color: lightblue;
	border-width: 2px;
	border-style: solid;
}
form{
	
	text-align: center;
	background-color:lightgreen;
	border: 2px solid black;
	height: 185px;
	width: 30vw;
}
#tagline img {
	height: 300px;
	width: 300px;
	border-radius: 150px;
}
#tagline{
	letter-spacing: 5px;
	text-align: center;

}
#greetings {
	letter-spacing: 5px;
}

#tagline + img {
	height: 20vh;
	width: 20vh;
	border-radius: 150px;
}
p {
	text-align: center;
}

section > ol > li {
	color: rgb(10,10,125);
}
ol{
	list-style: ;
}
section > form > label {
	letter-spacing: 10px;

}
